<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Appreciar</title>
    <meta name="description" content="Consultá los mejores precios de los productos que buscás...">
    <meta name="viewport" content="width=device-width, initial-scale=1">


  	<!-- Angular Material style sheet -->
  	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body ng-app="Appreciar" ng-controller="MainController">

<!-- CABECERA Y MENU -->
	<header>
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <!--
          <md-button class="md-icon-button" aria-label="Settings">
	          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
	        </md-button>
          -->
          <md-menu>
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-menu-origin md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <md-menu-content width="6">
              <md-menu-item ng-repeat="item in menuOptions">
                <!-- este que dejo comentado llama a una funcion del controlador, que tambien
              esta comentada por ahora... ahora lo cambio para llamar directamente a una view. -->
                <!-- <md-button ng-click="announceClick($index)"> -->
                  <md-button ng-click="cambiarVista(menuOptions[$index].opcion)">
                  <md-icon md-menu-align-target md-svg-icon="call:no-sim"></md-icon>
                  {{item.nombre}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>

	        <h2>
	          <span>Appreciar</span>
	        </h2>
          <span flex></span>
	        <md-button class="md-icon-button" aria-label="Favorite">
	          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
	        </md-button>
          <span><h3><a href="#/altaForm">Postear</a></h3></span>
          <md-button class="md-icon-button" aria-label="More">
	          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
	</header>
  <!-- Busqueda y opciones rapidas. -->
  <section style="padding: 0.5em 0 0.5em 0;" align="center">
    <!-- ACÁ QUEDÓ LA BÚSQUEDA AHORA -->
    <md-input-container style="background-color:white; margin-left:2em;">
    <label>Búsqueda</label>
    <input style="width:20em; " ng-model="user.address">
    </md-input-container>
    <!-- HASTA ACÁ -->
    <md-radio-group ng-model="data.group1" flex layout='row'>
      <span flex></span>
      <md-radio-button value="Mapa">Mapa</md-radio-button>
      <md-radio-button value="Lista">Lista</md-radio-button>
      <md-radio-button value="Visual">Visual</md-radio-button>
      <span flex></span>
    </md-radio-group>
  </section>

  <!-- VISTASS -->
  <div ng-view></div>

  <!-- Banner cosas -->
  <section align="center" style="padding:1em 0 1em 0; background-color:black;">
    <a href="http://www.google.com.ar" target="_blank">
      <img src="img/products/bannerCoca.png" alt="CocaCola" style="width:100vw;"/>
    </a>
  </section>

  <!-- FOOTER -->
  <footer style="background-color:#3a3a3a; height:10em; padding:1em;">
  	<p style="color:white;text-align:center;">Appreciar - Copyright 2016</p>
  	<p style="color:white;text-align:center;">Twitter || Facebook</p>
  </footer>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-route.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <!-- FIREBASE -->
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>

  <!-- Modules -->
  <script src="js/app.js"></script>

  <!-- Controllers -->
  <script src="js/controllers/MainController.js"></script>
  <script src="js/controllers/FinderController.js"></script>
  <script src="js/controllers/MapsController.js"></script>
  <script src="js/controllers/FiltroZonaController.js"></script>
  <!-- <script src="js/controllers/FiltroHomeController.js"></script> -->

  <!-- Directives -->
  <script src="js/directives/productCard.js"></script>

  <!-- Services -->
  <script src="js/services/productService.js"></script>

</body>
</html>
