<section class="login" style="width:25%; margin-left:30%; padding-bottom:5em;">

  <h3>Logueate</h3>
  <form style="margin-bottom:1em;">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Email</label>
      <input ng-model="usuario.email">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Password</label>
      <input ng-model="usuario.password">
    </md-input-container>

    <md-button style="padding:0; margin:0;" class="md-raised md-primary" ng-click="loguearse()">Ingresar</md-button>

  </form>
  <a href="" ng-click="cambiarVista('registro')">Registrarse</a> <span>||</span>
  <a href="#" style=" display:inline-block;">Olvidé mi clave</a>

</section>
