<section class="login" style="margin-left:5%; margin-right:5%; padding-bottom:5em;">

  <h3>Cómo ingresas?</h3>
  <div class="divLoginOptions">
    <img class="imageLoginOptions" src="img/icons/mailLogin.png" alt="Login Mail" ng-click="cambiarVista('loginMail')"/>
    <img class="imageLoginOptions" src="img/icons/facebook.png" alt="Login Mail" ng-click="loginRedSocial('facebook')"/>
    <img class="imageLoginOptions" src="img/icons/twitter.png" alt="Login Mail" ng-click="loginRedSocial('twitter')"/>
  </div>


</section>
