<h3>Registarse</h3>
<form style="margin-bottom:1em;">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Email</label>
    <input ng-model="usuario.email">
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Confirma email</label>
    <input ng-model="email2">
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Password</label>
    <input ng-model="usuario.password">
  </md-input-container>

  <md-button style="padding:0; margin:0;" class="md-raised md-primary" ng-click="registrarse()">Aceptar</md-button>

</form>
