<md-card>
	<img ng-src="{{ filterProd[0].img }}" style="width:250px; height:200px;" class="md-card-image" alt="Washed Out">
    <md-card-title>
      <md-card-title-text>
        <a href="#" class="md-headline">{{filterProd[0].nombre}}</a>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        {{filterProd[0].desc + ' precio: ' + posts.precio}}
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="Favorite" ng-click="positivo()" flex="auto">
        {{posts.positivos}}
        <md-icon md-svg-icon="img/icons/satisfied_black_24.svg"></md-icon>        
      </md-button>
      <div flex></div>
      <md-button class="md-icon-button" aria-label="Favorite" ng-click="negativo()" flex="auto">
        {{posts.negativos}}
        <md-icon md-svg-icon="img/icons/dissatisfied_black_24.svg"></md-icon>        
      </md-button>
      <!--
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share">
        <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
      </md-button>
      -->
    </md-card-actions>
</md-card>
